html {
    font-size: 200px;
}
html * {
    box-sizing: border-box;
}
.clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
}

/****************** el ui *****************/
.el-header {
    padding: 0 1.450667rem /* 136/93.75 */;
}
.el-icon {
    font-size: .149333rem /* 14/93.75 */;
}
.el-dialog {
    border-radius: .053333rem!important /* 5/93.75 */;
}